includes:
    - config/config.neon

parameters:
    level: max

    paths:
        - src
        - tests

#    reportUnmatchedIgnoredErrors: false

    excludes_analyse:
        - '*tests/*/Fixture/*'

    ignoreErrors:
        - '#Class Rector\\PHPStanRules\\Rule\\(.*?) implements generic interface PHPStan\\Rules\\Rule but does not specify its types\: TNodeType#'

        - '#Method Rector\\PHPStanRules\\Tests\\Rule\\(.*?) return type has no value type specified in iterable type Iterator#'

        -
            message: '#Parameter \#1 \$argument of class ReflectionClass constructor expects class\-string<SomeType\>\|SomeType, string given#'
            path: tests/Rule/NoClassReflectionStaticReflectionRule/Fixture/NewOnExternal.php

        # skip for PHPStan rules
        -
            message: '#Class must implement "Rector\\Core\\Contract\\Rector\\ConfigurableRectorInterface" interface#'
            path: src/Rule/*

        # php-parser 4.13
        - '#Access to an undefined property PhpParser\\Node\\Arg\|PhpParser\\Node\\VariadicPlaceholder\:\:\$value#'
