parameters:
    level: 8

    paths:
        - src
        - tests

    excludePaths:
        - '*/Fixture/*'

    ignoreErrors:
        # class-string false positive
        - '#Method Rector\\PHPStanRules\\Rule\\PhpUpgradeDowngradeRegisteredInSetRule\:\:matchRectorClassName\(\) should return class\-string<Rector\\Contract\\Rector\\RectorInterface\>\|null but returns class\-string#'

        - '#Method Rector\\PHPStanRules\\(.*?)getRule\(\) return type with generic interface PHPStan\\Rules\\Rule does not specify its types#'
        - '#extends generic class PHPStan\\Testing\\RuleTestCase#'
