<?xml version="1.0"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="rules">
            <directory>tests/Rule</directory>
        </testsuite>
        <testsuite name="extensions">
            <directory>tests/ReturnTypeExtension</directory>
        </testsuite>
    </testsuites>
</phpunit>
