includes:
    - ../../../../vendor/symplify/phpstan-rules/config/services/services.neon

services:
    -
        class: Rector\PHPStanRules\Rule\ForbiddenComplexArrayConfigInSetRule
        tags: [phpstan.rules.rule]
