includes:
    - ../../../config/shared_services.neon

    - ../../../../config/services.neon

services:
    -
        class: Rector\PHPStanRules\Rule\ForbiddenComplexArrayConfigInSetRule
        tags: [phpstan.rules.rule]
