includes:
    - ../../../../config/services.neon
    - ../../../../vendor/symplify/phpstan-rules/config/services/services.neon
    - ../../../../vendor/symplify/phpstan-rules/packages/symfony/config/services.neon

services:
    -
         class: Rector\PHPStanRules\Rule\RectorServiceAndValueObjectHaveSameStartsRule
         tags: [phpstan.rules.rule]
