services:
    - Rector\PHPStanRules\TypeAnalyzer\InlineableTypeAnalyzer
    - Rector\PHPStanRules\TypeAnalyzer\AllowedAutoloadedTypeAnalyzer
    - Rector\PHPStanRules\NodeAnalyzer\SymfonyConfigRectorValueObjectResolver
    - Rector\PHPStanRules\NodeAnalyzer\SymfonyConfigMethodCallAnalyzer

# to allow parent nodes connections
parameters:
    featureToggles:
        nodeConnectingVisitorCompatibility: true

conditionalTags:
    PhpParser\NodeVisitor\NodeConnectingVisitor:
        phpstan.parser.richParserNodeVisitor: true
