includes:
    - ../../../../../../vendor/symplify/phpstan-rules/config/services/services.neon

services:
    - Rector\RectorPHPStanRules\TypeAnalyzer\AllowedAutoloadedTypeAnalyzer

    -
        class: Rector\RectorPHPStanRules\Rule\NoInstanceOfStaticReflectionRule
        tags: [phpstan.rules.rule]
