includes:
    - ../../../../vendor/symplify/phpstan-rules/packages/cognitive-complexity/config/cognitive-complexity-services.neon

    - ../../../../vendor/symplify/phpstan-rules/config/services/services.neon

    - ../../../../config/rules.neon
