includes:
    - ../../../../vendor/symplify/phpstan-rules/packages/symfony/config/services.neon

services:
    -
        class: Rector\PHPStanRules\Rule\PhpUpgradeDowngradeRegisteredInSetRule
        tags: [phpstan.rules.rule]
