services:
    - Symplify\SmartFileSystem\SmartFileSystem

    -
        class: Rector\PHPStanRules\Rule\PhpUpgradeDowngradeRegisteredInSetRule
        tags: [phpstan.rules.rule]
        arguments:
            setDirectory: ../Source/Set

